In [16]:
import numpy as np
import pandas as pd
from numpy.linalg import inv
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import mutual_info_classif

In [2]:
df = pd.read_csv('course_lead_scoring.csv')
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

In [3]:
null_counts = df.isnull().sum()
null_counts

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [4]:
print(df.dtypes)

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

In [5]:
df_new = df
df_new['lead_source'] = df['lead_source'].fillna('NA')
df_new.isnull().sum()

lead_source                   0
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [6]:
df_new['industry'] = df['industry'].fillna('NA')
df_new.isnull().sum()

lead_source                   0
industry                      0
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [7]:
df_new['annual_income'] = df['annual_income'].fillna(0.0)
df_new.isnull().sum()

lead_source                   0
industry                      0
number_of_courses_viewed      0
annual_income                 0
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [8]:
df_new['employment_status'] = df['employment_status'].fillna('NA')
df_new.isnull().sum()

lead_source                  0
industry                     0
number_of_courses_viewed     0
annual_income                0
employment_status            0
location                    63
interaction_count            0
lead_score                   0
converted                    0
dtype: int64

In [9]:
df_new['location'] = df['location'].fillna('NA')
df_new.isnull().sum()

lead_source                 0
industry                    0
number_of_courses_viewed    0
annual_income               0
employment_status           0
location                    0
interaction_count           0
lead_score                  0
converted                   0
dtype: int64

In [10]:
df_new['industry'].mode()

0    retail
Name: industry, dtype: object

In [11]:
df_corr = df_new[['number_of_courses_viewed', 'annual_income', 'interaction_count', 'lead_score']]
df_corr.head()

   number_of_courses_viewed  annual_income  interaction_count  lead_score
0                         1        79450.0                  4        0.94
1                         1        46992.0                  1        0.80
2                         5        78796.0                  3        0.69
3                         2        83843.0                  1        0.87
4                         3        85012.0                  3        0.62

In [12]:
corr_matrix = df_corr.corr()
corr_matrix

,number_of_courses_viewed,annual_income,interaction_count,lead_score
number_of_courses_viewed,1.000000,0.009770,-0.023565,-0.004879
annual_income,0.009770,1.000000,0.027036,0.015610
interaction_count,-0.023565,0.027036,1.000000,0.009888
lead_score,-0.004879,0.015610,0.009888,1.000000

In [13]:
train_temp, test_df = train_test_split(df_new, test_size=0.2, random_state=42)
train_df, val_df = train_test_split(train_temp, test_size=0.25, random_state=42)

In [21]:
test_df_x = test_df[['lead_source', 'industry', 'number_of_courses_viewed', 'annual_income', 'employment_status', 'location', 'interaction_count', 'lead_score']]
val_df_x = val_df[['lead_source', 'industry', 'number_of_courses_viewed', 'annual_income', 'employment_status', 'location', 'interaction_count', 'lead_score']]
train_df_x = train_df[['lead_source', 'industry', 'number_of_courses_viewed', 'annual_income', 'employment_status', 'location', 'interaction_count', 'lead_score']]

In [26]:
train_df_cat = train_df_x[['lead_source', 'industry', 'employment_status', 'location']]
discrete_features = [True] * train_df_cat.shape[1]

mi_scores = mutual_info_classif(train_df_cat, train_df['converted'], discrete_features=discrete_features)

#mi_scores_series = pd.Series(mi_scores, index=train_df_cat.columns, name="Mutual Information Scores")
#print(mi_scores_series)

ValueError: could not convert string to float: 'paid_ads'